<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Students List</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

<div th:replace="~{layout.html}"></div>

<h1>Students List</h1>

<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Faculty Number</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="student : ${students}">
        <td th:text="${student.name}"></td>
        <td th:text="${student.facultyNumber}"></td>
        <td>
            <a th:href="@{/students/details/{id}(id=${student.id})}">Details</a> |
            <a th:href="@{/students/edit/{id}(id=${student.id})}">Edit</a>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>
